.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 32px;
  width: 320px;
  height: 320px;
}

.lottie {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    width: 480px;
    height: 480px;
  }
}
